@import url('https://fonts.googleapis.com/css?family=Raleway:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:500&display=swap');



body{
    display:flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    overflow-x: hidden;
    overflow-y: visible;
    background: #101010;
    color: white;
    font-family: poppins;
    width: 100%;
    margin: 0px;
    border: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
}

/* ////////////////////////////////////////////////////////////// */
/*
Laptop
*/

/* PAGE NAVIGATION */
.page-nav{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin:0;
    padding: 0;
    border: 0;
    margin-top: 0em;
}

.page-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #1d1d1d;
    margin-top: 1.35em;
    border: 0px;
    padding: 0px;
    height: 3.25em;
    width: 62em;
    border-radius: 0.65em;
    border: 0.1em solid #c9d1cc;
    justify-content: center;
    align-items: center;
}

.page-text{
    color: white;
    width: auto;
    opacity: 0.7;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all .4s ease;
    font-size: 18px;
    text-decoration: none;
}

.page-links:hover{
    background-color: rgba(43,43,43,1);
}

.page-text:hover{
    opacity: 1;
    transform: scale(1.1);
}

#navigation-content{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 5;
    background-color:rgba(2, 2, 2, 0.85);
    transform: translateY(-200%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navigation-close{
    position: absolute;
    top: 2.2em;
    right:4%;
    cursor: pointer;
    transition: all.3s ease;
    opacity: .8;
}
.navigation-close:hover{
    opacity: 1;
    transform: rotate(90deg);
}

.close-first , .close-second{
    height: 2px;
    width: 35px;
    background-color: whitesmoke;
    display: block;
    margin-top: 6px;
    cursor: pointer;
    padding: 1px;
    border-radius: 20px;
   }

.close-first {
    transform: rotate(45deg);
}

.close-second{
    transform: rotate(-45deg);
}

.navigation-links{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
    font-family:poppins;
}

.navigation-links a{
    padding:10px;
    text-decoration: none;
    color: white;
    font-size: 30px;
    opacity: .7;
    transition: all .4s ease;
}

.navigation-links a:hover{
    opacity: 1;
}

.navigation-links a::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    transform: translate(-50%,-50%);
    align-items: center;
    font-size: 5em;
    font-weight: 400;
    font-family: monoton;
    color:rgb(255, 255, 255,.1);
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    letter-spacing: 100px;
    transition: all .4s ease;
}
.navigation-links a:hover::before{
    content: attr(data-text);
    opacity: 1;
    letter-spacing: 10px;
}

#navigation-bar{
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: fixed;
    width: 100%;
    z-index: 3;
    padding: 0px;
    overflow: hidden;
    background-color: #101010;
}

.menubar{
    position: absolute;
    right: 4%;
    top: 2.2em;
    cursor: pointer;
    opacity: .8;
    transition: all .4s ease;
}
.menubar span{
    position: relative;
    background-color:transparent;
    height: 2px;
    width: 20px;
    display: block;
    margin: 6px;
    border-radius: 20px;
}
.menubar .first-span{
    width:35px;
}
.menubar .first-span::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    top:0;
    right:0;
    background-color:whitesmoke;
    transition: all .5s ease;

}
.menubar .second-span{
    width:35px;
}
.menubar .second-span::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 75%;
    top:0;
    right:0;
    background-color:whitesmoke;
    transition: all .3s ease;
}
.menubar .third-span{
    width:35px;
}
.menubar .third-span::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    right:0;
    background-color:whitesmoke;
    transition: all .3s ease;
}
.menubar:hover .second-span::before , .menubar:hover .first-span::before {
    width: 100%;
}
.menubar:hover{
    opacity: 1;
}


/* PAGE CONTENT */
.portfolio-content{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.main-container{
    display: flex;
    flex-direction: column;
    margin-top: 0em;
    width: 62em;
    align-items: center;

}

.main-container .title {
    /*background-color: #13d654;*/
    margin-top: 2.65em;
    font-size: 40px;
    font-weight: 900;
    font-family: raleway;
    letter-spacing: 3px;
    color: #cfcfcf;
}

.main-container .intro {
    /*background-color: #13d654;*/
    margin-top: 0.75em;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.intro img{
    width: 100%;
    border-radius: 0.25em;
}

#about-local{
    position: relative;
    top: -2.5em;
}

.about-content{
    display: flex;
    flex-direction: column;
    margin-top: 3.5em;
    border: 0px;
    padding: 0px;
    width: 62em;
    justify-content: center;
    border-radius: 0.65em;
    border: 0.1em solid #c9d1cc;
    align-items: center;
}

#demos{
    position: relative;
    top: -3.5em;
}

#future-work{
    position: relative;
    top: -3.5em;
}
.section-heading{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    width: 95%;
    color: #bf5700;
}

.section-break{
    width:100%;
    height: 1px;
    line-break: auto;
    background-color: #c9d1cc;
}

.section-content{
    width: 95%;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: justify;
    color: #cfcfcf;
}

/* FOOTER */
.footer{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 3.5em;
    background: #1d1d1d;
    width: 100%;
    padding: 13px;
    color: whitesmoke;
    font-family: poppins;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.75em;
}
.footer .footer-text{
    
    display: inline;
    font-size: 12px;
    font-weight: 2;
    opacity: .8;
}
.footer-image{
    display: flex;
    flex-direction: row;
    font-family: poppins;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}
.footer-image img{
    padding-left: 6px;
}

/* ////////////////////////////////////////////////////////////// 
/*
Large Monitors
*/
@media all and (max-width: 9000px) and (min-width: 1441px){
}

/* ////////////////////////////////////////////////////////////// */
/*
Tablets
*/

@media all and (max-width: 1025px) and (min-width: 551px){

}

/* ////////////////////////////////////////////////////////////// */
/*
Mobile Phone
*/
@media only screen and (max-width: 550px){

}
