@import url('https://fonts.googleapis.com/css?family=Raleway:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:500&display=swap');



body{
    display:flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    height: auto;
    overflow-x: hidden;
    overflow-y: visible;
    background: #101010;
    color: white;
    opacity: 0.9;
    font-family: poppins;
    width: 100%;
    margin: 0px;
    border: 0px;
    padding: 0px;
}


/* ////////////////////////////////////////////////////////////// */
/*
Laptop
*/

.main-container{
    display: flex;
    /*background-color: #33ab2f;*/
    flex-direction: column;
    margin-top: 90px;
    width: 65%;
    align-items: center;
    
}

.main-container .title {
    /*background-color: #13d654;*/
    margin-top: 10px;
    font-size: 45px;
    font-weight: 900;
    font-family: raleway;
    letter-spacing: 3px;
}

.intro {
    /*background-color: #13d654;*/
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.intro img{
    width: 100%;
    border-radius: 10px;
}

.page-links{
    display: flex;
    flex-direction: row;
    background-color: rgba(43,43,43,0.5);
    position: fixed;
    margin-top: 20px;
    border: 0px;
    padding: 0px;
    width: 65%;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #c9d1cc;
}

.page-text{
    color: white;
    width: auto;
    opacity: 0.7;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all .4s ease;
    font-size: 18px;
    text-decoration: none;
}
.page-links:hover{
    background-color: rgba(43,43,43,1);
}

.page-text:hover{
    opacity: 1;
    transform: scale(1.1);
}
.about-content{
    display: flex;
    flex-direction: column;
    /*background-color: #0d1117;*/
    /*background-color: #101010;*/
    margin-top: 35px;
    border: 0px;
    padding: 0px;
    width: 65%;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #c9d1cc;
    align-items: center;
}

.section-heading{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    width: 95%;
    color: #bf5700;
}

.section-break{
    width:100%;
    height: 1px;
    line-break: auto;
    background-color: #c9d1cc;
}

.section-content{
    margin-top: 20px;
    margin-bottom: 500px;
}


/* ////////////////////////////////////////////////////////////// 
/*
Large Monitors
*/
@media all and (max-width: 9000px) and (min-width: 1441px){
}

/* ////////////////////////////////////////////////////////////// */
/*
Tablets
*/

@media all and (max-width: 1025px) and (min-width: 551px){

}

/* ////////////////////////////////////////////////////////////// */
/*
Mobile Phone
*/
@media only screen and (max-width: 550px){

}
